@import template._

@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
    <title>Error</title>
    </head>
    <body>
        <meta charset="utf-8">
        <header>
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/">Matome</a>
                </div>
            </nav>
        </header>
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        @message
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
