@import template._
@import play.cache.CacheApi
@import forms.Search
@import b4.vertical.fieldConstructor

@(user: Option[User], form: Form[Search])(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
    <title>Search</title>
    </head>
    <body>
        @header(user, "search")
        <div class="container">
            <div class="row" style="margin-bottom: 10px">
                <div class="col">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Article Search</h4>
                            @b4.form(routes.SearchController.result()) {
                                @b4.text(form("word"), 'placeholder -> "Input Word")
                                <button type="submit" class="btn btn-primary">Search</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
