@import template._
@import play.cache.CacheApi

@(user: Option[User])

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
    <title>home</title>
    </head>
    <body>
        @new_header(user, "home")
        <div class="container">
            <div class="row bottom-item">
                <div class="col">
                    <div class="card">
                        <div class="card-block">
                            <h4>Matome</h4>
                            <p class="card-text">
                                This site is to aggregate blog.<br>
                                Send mail when the blog is updated.
                            </p>
                            <p><a href="@routes.RegisterController.index()">Register</a></p>
                            <p><a href="@routes.LoginController.index()">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="card">
                        <div class="card-block">
                            <h4>Aggregation</h4>
                            <ul class="list-group">
                                <li class="list-group-item">Livedoor</li>
                                <li class="list-group-item">Hatena</li>
                                <li class="list-group-item">Ameblo</li>
                                <li class="list-group-item">Qiita</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card">
                        <div class="card-block">
                            <h4>Link</h4>
                            <ul class="list-group">
                                <a class="list-group-item" href="https://github.com/ryota-sakamoto/matome">Github</a>
                                <a class="list-group-item" >Twitter</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
