@import template._
@(user: Option[User], blog_list:Seq[Blog])

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
        <title>Settings</title>
    </head>
    <body>
        @header(user, "settings")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <form action="" method="post">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>last_update date</th>
                            </tr>
                        </thead>
                        <tbody id="blog_list">
                        @for(i <- blog_list.indices){
                            <tr href="@routes.SettingBlogController.blogEdit(blog_list(i).id)" onclick="edit_blog(this)">
                                <td>@blog_list(i).name</td>
                                <td>@("%tY-%<tm-%<td %<tH:%<tM:%<tS".format(blog_list(i).update_date))</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-info" id="new-button">New</button>
                    <button type="button" class="btn btn-secondary" id="aggregate">Aggregate</button>
                    <script>
                        $(document).on("click", "#new-button", () => {
                            location.href = "@routes.SettingBlogController.blogCreate()"
                        });
                        $("#aggregate").on("click", () => {
                            $.ajax({
                                url: "@routes.CronController.aggregateArticle()",
                                type: "post"
                            }).done(() => {
                                alert("success")
                            })
                        });
                        const edit_blog = (obj) => {
                            location.href = obj.getAttribute("href");
                        }
                    </script>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>
