@import template._
@import b4.vertical.fieldConstructor
@import forms.BlogEdit

@(user: Option[User], blog_opt: Option[Blog], blog_type: Seq[BlogType], form: Form[BlogEdit])(implicit messages:Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
        <title>Settings</title>
    </head>
    <body>
        @header(user, "settings")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card col-sm-6">
                    <div class="card-block">
                        @blog_opt match {
                            case Some(blog) => {
                                @b4.form(routes.SettingBlogController.blogUpdate(blog.id)) {
                                    <div class="form-group">
                                        <label>Name</label>
                                        @b4.text(form("name"), 'placeholder -> "Name", 'value -> blog.name)
                                    </div>
                                    <div class="form-group">
                                        <label >URL</label>
                                        @b4.url(form("url"), 'placeholder -> "URL", 'value -> blog.url)
                                    </div>
                                    <div class="form-group">
                                        <label >Blog Type</label>
                                        @b4.select(form("blog_type_id"), options = blog_type.map(b => b.id.toString -> b.name), '_default -> "Select Blog Type", 'required -> "required", 'value -> blog.blog_type_id)
                                    </div>
                                    <div class="form-group">
                                        <label >Notification</label>
                                        @b4.checkbox(form("notification"), 'checked -> blog.notification)
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="save-button">Save</button>
                                    <button type="submit" class="btn btn-danger" id="delete-button">Delete</button>
                                    <script>
                                        $("#delete-button").on("click", (e) => {
                                            e.preventDefault();

                                            if (window.confirm("delete?")) {
                                                $.ajax({
                                                    type: "delete",
                                                    url: "@routes.SettingBlogController.blogDelete(blog.id)",
                                                }).done(() => {
                                                    location.href = "@routes.SettingBlogController.blogList()"
                                                })
                                            }
                                        });
                                    </script>
                                }
                            }

                            case None => {
                                @b4.form(routes.SettingBlogController.blogInsert()) {
                                    <div class="form-group">
                                        <label>Name</label>
                                        @b4.text(form("name"), 'placeholder -> "Name")
                                    </div>
                                    <div class="form-group">
                                        <label >URL</label>
                                        @b4.url(form("url"), 'placeholder -> "URL")
                                    </div>
                                    <div class="form-group">
                                        <label >Blog Type</label>
                                        @b4.select(form("blog_type_id"), options = blog_type.map(b => b.id.toString -> b.name), '_default -> "Select Blog Type", 'required -> "required")
                                    </div>
                                    <div class="form-group">
                                        <label >Notification</label>
                                        @b4.checkbox(form("notification"))
                                    </div>
                                    <button type="submit" class="btn btn-primary" value="save">Save</button>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
