@import template.{script, header}
@import play.cache.CacheApi
@import forms.{Login, Register}
@import b4.vertical.fieldConstructor

@(cache: CacheApi, user_uuid: String, login_form: Form[Login], register_form: Form[Register], message: Option[String], message_type: String)(implicit messages:Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
    <title>Login</title>
    </head>
    <body>
        @header(cache, user_uuid, "login")
        <div class="container">
            <div class="row">
                <div class="col-sm-1 "></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5">
                            @message match {

                                case Some(m) => {
                                    <div class="alert alert-@message_type" role="alert">@m</div>
                                }

                                case _ => {

                                }

                            }
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-primary active" id="login-screen">
                                    <input type="radio" name="options" autocomplete="off" checked> Login
                                </label>
                                <label class="btn btn-outline-primary" id="register-screen">
                                    <input type="radio" name="options" autocomplete="off"> Register
                                </label>
                            </div>
                            <div class="card">
                                <div id="login-screen-block" class="card-block">
                                @b4.form(routes.LoginController.login()) {
                                    <div class="form-group">
                                        <label>UserId</label>
                                        @b4.text(login_form("name"), 'placeholder -> "UserId")
                                    </div>
                                    <div class="form-group">
                                        <label >Password</label>
                                        @b4.password(login_form("password"), 'placeholder -> "Password")
                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $("#register-screen").on("click", () => {
                location.href = "@routes.RegisterController.index()"
            })
        </script>
    </body>
</html>
