@import template._
@import forms.Register
@import b4.vertical.fieldConstructor
@import helper._

@(user: Option[User], form: Form[Register], error: Option[String])(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
    <title>Register</title>
    </head>
    <body>
        @header(user, "register")
        <div class="container">
            <div class="row">
                <div class="col">
                    @error match {
                        case Some(e) => {
                            @for(error_message <- e.split(',')) {
                                <div class="alert alert-danger">
                                    @error_message
                                </div>
                            }
                        }
                        case None => {}
                    }
                    <div class="card">
                        <div id="register-screen-block" class="card-block">
                        @b4.form(routes.RegisterController.register()) {
                            @CSRF.formField
                            <div class="form-group">
                                <label>User Name</label>
                                @b4.text(form("name"), 'placeholder -> "User Name")
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                @b4.email(form("email"), 'placeholder -> "Email")
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                @b4.password(form("password"), 'placeholder -> "Password")
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                @b4.password(form("confirm_password"), 'placeholder -> "Confirm Password")
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
