@import template._
@import play.cache.CacheApi
@import forms.Register
@import b4.vertical.fieldConstructor

@(cache: CacheApi, uuid: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @script()
    <title>Send Mail</title>
    </head>
    <body>
        @header(cache, uuid, "register")
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-text">
                                Send authentication email to your email.<br>
                                Please Check.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
